/****** Object:  Table [dbo].[registro]    Script Date: 23/09/2021 23:15:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[registro](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[aluno] [varchar](250) NOT NULL,
	[cpf] [varchar](20) NULL,
	[rg] [varchar](20) NULL,
	[rne] [varchar](50) NULL,
	[curso] [varchar](500) NOT NULL,
	[instituicao_expedidora] [varchar](500) NOT NULL,
	[instituicao_registradora] [varchar](500) NULL,
	[data_ingresso] [date] NULL,
	[data_conclusao] [date] NULL,
	[data_expedicao] [date] NULL,
	[data_registro] [date] NULL,
	[livro] [varchar](10) NULL,
	[pagina] [varchar](10) NULL,
 CONSTRAINT [PK_registro] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[registro] ON 

INSERT [dbo].[registro] ([id], [aluno], [cpf], [rg], [rne], [curso], [instituicao_expedidora], [instituicao_registradora], [data_ingresso], [data_conclusao], [data_expedicao], [data_registro], [livro], [pagina]) VALUES (1, N'ADEMIR JUNIOR BROETTO MARQUES DOS SANTOS', NULL, NULL, NULL, N'DERMATOLOGIA III', N'Faculdade Ciencias Médicas', NULL, NULL, NULL, NULL, NULL, N'84', N'113')
INSERT [dbo].[registro] ([id], [aluno], [cpf], [rg], [rne], [curso], [instituicao_expedidora], [instituicao_registradora], [data_ingresso], [data_conclusao], [data_expedicao], [data_registro], [livro], [pagina]) VALUES (2, N'ADONAY CARRENO CASTRO', NULL, NULL, NULL, N'ENDOCRINOLOGIA', N'Faculdade Ciencias Médicas', NULL, NULL, NULL, NULL, NULL, N'64', N'116')
INSERT [dbo].[registro] ([id], [aluno], [cpf], [rg], [rne], [curso], [instituicao_expedidora], [instituicao_registradora], [data_ingresso], [data_conclusao], [data_expedicao], [data_registro], [livro], [pagina]) VALUES (3, N'ADRIANA BENITO DA SILVA', NULL, NULL, NULL, N'DERMATOLOGIA', N'Faculdade Ciencias Médicas', NULL, NULL, NULL, NULL, NULL, N'26', N'113')
GO
SET IDENTITY_INSERT [dbo].[registro] OFF
GO
